.Rproj.user
.Rhistory
.RData
.Ruserdata
Icon[]
Icon[\r]
Icon[\r\r]
Icon?
Icon^M^M
**/Icon?
*_cache
data
Supplemental-Material-A-Annotated-Analysis_cache
Supplemental-Material-C-Power-Simulation_cache
Feedback/
Misc/
Backup/
poster_template
outline
